<h1>Tạo mới sách</h1>
<h2 style="color: brown">{{message}}</h2>
<form [formGroup]= "editBookForm" >
  <div class="form-group">
    <label>Tiêu đề</label>
    <input type="text" class="form-control" formControlName="title" placeholder="Tiêu đề">
    <div *ngIf="title.invalid && (title.dirty || title.touched)"
         class="alert alert-danger">
      <div *ngIf="title.errors.required">
        Tiêu đề cần phải có
      </div>
      <div *ngIf="title.errors.maxLength">
        Tiêu đề chỉ có dưới 30 ký tự
      </div>
    </div>
    <div class="form-group">
      <label>Tác giả</label>
      <input type="text" class="form-control" formControlName="author"  placeholder="Tên tác giả">
      <div *ngIf="author.invalid && (author.dirty || author.touched)"
           class="alert alert-danger">

        <div *ngIf="author.errors.required">
          Tác giả cần phải có
        </div>
      </div>

    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Mô tả</label>
      <input type="text" class="form-control" formControlName="description" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mô tả">
      <div *ngIf="description.invalid && (description.dirty || description.touched)"
           class="alert alert-danger">
        <div *ngIf="description.errors.required">
          Cần phải thêm mô tả
        </div>
        <div *ngIf="description.errors.minLength">
          Mô tả phải có ít nhất là 100 ký tự nhé.
        </div>
      </div>
    </div>

  </div>
  <button type="submit" [disabled]="editBookForm.invalid" class="btn btn-primary" (click)="submit()">Submit</button>
  <button  class="btn btn-success" routerLink="">Thoat</button>
</form>


